@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">WorkLoger</h1>
    <p>Система учета выполненных работ</p>
    @if (User.Identity.IsAuthenticated)
    {
        @User.Identity.Name
    }
</div>
