@model WorkLogerCA.Models.Equipment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Equipment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CreationDateTime" class="control-label"></label>
                <input asp-for="CreationDateTime" class="form-control" />
                <span asp-validation-for="CreationDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentIdentification" class="control-label"></label>
                <input asp-for="EquipmentIdentification" class="form-control" />
                <span asp-validation-for="EquipmentIdentification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FactoryNumber" class="control-label"></label>
                <input asp-for="FactoryNumber" class="form-control" />
                <span asp-validation-for="FactoryNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label"></label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SentFrom" class="control-label"></label>
                <input asp-for="SentFrom" class="form-control" />
                <span asp-validation-for="SentFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalDateTime" class="control-label"></label>
                <input asp-for="ArrivalDateTime" class="form-control" />
                <span asp-validation-for="ArrivalDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureDateTime" class="control-label"></label>
                <input asp-for="DepartureDateTime" class="form-control" />
                <span asp-validation-for="DepartureDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document" class="control-label"></label>
                <input asp-for="Document" class="form-control" />
                <span asp-validation-for="Document" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificateExpiryDate" class="control-label"></label>
                <input asp-for="CertificateExpiryDate" class="form-control" />
                <span asp-validation-for="CertificateExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportId" class="control-label"></label>
                <select asp-for="TransportId" class="form-control" asp-items="ViewBag.TransportId"></select>
                <span asp-validation-for="TransportId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestId" class="control-label"></label>
                <select asp-for="RequestId" class="form-control" asp-items="ViewBag.RequestId"></select>
                <span asp-validation-for="RequestId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
